@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hide::-webkit-scrollbar{
  display: none;
}

.scrollbar-hide{
  scrollbar-width: none;
}

img.baniere {
  width: 100%;
  height: 300px;
  object-fit: cover;
  background-position: center;
}

img.m-auto.rounded-full.object-cover.w-12.h-12.absolute.left-0.right-0.ring-1.ring-white.z-5 {
  margin-top: -20px;
}

.h-40.top-15.flex.flex-col.gap-3.items-center {
  margin-top: 25px;
}
/* 
SjhSzsH9WpJOlYFg4fVL
THpPati9I5DPFgsAgpBl
1833@Production

*/